body{
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
}
.header{
    background-color: #1b263b;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-family: 'Borel', cursive;
    padding: 0;
    margin: 0;
    height: 60px;
}
.header h1{
    margin-top: 40px;
    font-size: 2rem;
    vertical-align: center;
}
.header img[src$="svg"]{
    height: 45px;
    width: 45px;
    margin: 16px 0 20px 30px;
    background-color: #7ae582;
    border-radius: 50%;
    box-shadow: 0 0 10px #1b263f;
}
.header + div{
    display: flex;
    height: calc(100vh - 60px);
    padding-right: 75px;
}
.side-bar{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 97%);
    height: 100%;
    padding: 40px 20px;
}
.task-menu,
.projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    padding: 5px 125px 5px 15px;
    text-align: left;
    border: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 15px;
    background-color: transparent;
    font-family: inherit;
    font-weight: 400;
}
button:hover{
    background-color: #c8c8c8;
    font-weight: 700;
    box-shadow: #000
}
img[src$="svg"]{
    height: 25px;
    width: auto;
}
.projects h2{
    margin-bottom: 0;
}
body > img[src$="svg"]{
    position: fixed;
    top: 85%;
    left: 90%;
    height: 60px;
    width: auto;
    cursor: pointer;
}
body > img[src$="svg"]:hover{
    height: 65px;
    width: auto;
}



