body{
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
}
.header{
    background-color: #1b263b;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 0;
    height: 60px;
    padding-right: 75px;
}
.header h1{
    margin-top: 40px;
    font-size: 2rem;
    vertical-align: center;
    font-family: 'Borel', cursive;
}
.header > img[src$="svg"]{
    height: 45px;
    width: 45px;
    margin: 16px 0 20px 30px;
    background-color: #7ae582;
    border-radius: 50%;
    box-shadow: 0 0 10px #1b263f;
}
.header + div{
    display: flex;
    height: calc(100vh - 60px);
    padding-right: 75px;
}
.header > button{
    margin-left: auto;
    color: #000;
    padding: 5px 40px 5px 10px;
    background-color: #7ae582;
    text-align: left;
    border: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 15px;
    font-family: inherit;
    font-weight: 400;
}
.header > button:hover{
    background-color: #71f279;
}
.side-bar{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 97%);
    height: 100%;
    padding: 40px 20px;
}
.task-menu,
.projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.side-bar button{
    padding: 5px 125px 5px 15px;
    text-align: left;
    border: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 15px;
    background-color: transparent;
    font-family: inherit;
    font-weight: 400;
}
.side-bar button:hover{
    background-color: #c8c8c8;
    font-weight: 700;
    box-shadow: #000
}
img[src$="svg"]{
    height: 25px;
    width: auto;
}
.projects h2{
    margin-bottom: 0;
    width: auto;
}

input,
form button,
select,
textarea{
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
    font-size: 100%;
    font-family: inherit;
    outline: none;
}
form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 550px;
    border: 1px solid #adb0b1;
    border-radius: 10px;
    padding: 5px 10px;
}

input, textarea{
    padding: 5px 10px;
}
input[name="title"]{
    font-size: 1.35rem;
    font-weight: 600;
    margin-top: 5px;
}
input[name="title"]::placeholder{
    font-size: 1.2rem;
    font-weight: 600;
    color: #141414;
}
textarea{
    font-size: 1.2rem;
    resize: none;
}
textarea::placeholder{
    font-size: 1.1rem;
}

select, 
input[type="date"],
select + button{
    padding: 5px;
    margin: 5px;
    border: 1px solid #20a4f3;
    border-radius: 5px;
    width: 120px;
    background-color: hsl(0, 0%, 97%);
    cursor: pointer;
}
input[type="date"]{
    cursor: default;
    width: 150px;
}
form div{
    display: flex;
}
form div button{
    margin-left: auto;
    background-color: #7ae582;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
}









