*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
}
.header{
    background-color: #1b263b;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 0;
    height: 10vh;
    padding-right: 150px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header h1{
    margin-top: 40px;
    font-size: 2rem;
    vertical-align: center;
    font-family: 'Borel', cursive;
}
.header > img[src$="svg"]{
    height: 45px;
    width: 45px;
    margin: 16px 0 20px 30px;
    background-color: #7ae582;
    border-radius: 50%;
    box-shadow: 0 0 10px #1b263f;
}
.header > button{
    margin-left: auto;
    color: #000;
    padding: 5px 40px 5px 10px;
    background-color: #7ae582;
    text-align: left;
    border: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 15px;
    font-family: inherit;
    font-weight: 400;
}
.header > button:hover{
    background-color: #71f279;
}
.header + div{
    display: flex;
    flex-grow: 1;
    padding-right: 75px;
    margin-top: 10vh;
    /* width: 100vw; */
}
.side-bar{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 97%);
    height: 100%;
    padding: 40px 20px;
    width: 22vw;
    position: fixed;
}
.task-menu,
.projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.side-bar button{
    padding: 5px 125px 5px 15px;
    text-align: left;
    border: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 15px;
    background-color: transparent;
    font-family: inherit;
    font-weight: 400;
}
.side-bar button:hover{
    background-color: #c8c8c8;
    font-weight: 700;
    box-shadow: #000
}
img[src$="svg"]{
    height: 25px;
    width: auto;
}
.projects h2{
    margin-bottom: 0;
    width: auto;
}
#form-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(3px);
}
input,
form button,
select,
textarea{
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
    font-size: 100%;
    font-family: inherit;
    outline: none;
}
form{
    display: flex;
    flex-direction: column;
    width: 550px;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
}

input, textarea{
    padding: 5px 10px;
}
form input[name="title"]{
    font-size: 1.35rem;
    font-weight: 600;
    margin-top: 5px;
    padding-left: 0;
}
form input[name="title"]::placeholder{
    font-size: 1.2rem;
    font-weight: 600;
    color: #141414;
}
form textarea{
    font-size: 1rem;
    resize: none;
    padding-left: 0;
}
form select, 
form input[type="date"],
form select + button{
    padding: 5px;
    margin: 5px;
    border: 1px solid #20a4f3;
    border-radius: 5px;
    width: 120px;
    background-color: hsl(0, 0%, 97%);
    cursor: pointer;
}
form input[type="date"]{
    cursor: default;
    width: 150px;
}
form div{
    display: flex;
}
form div button{
    margin-left: auto;
    background-color: #7ae582;
    border: none;
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 9px 18px;
}
form div{
    position: relative;
}
form select{
    padding-top: 3px;
    background-image: url(../src/icons/drop-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 38px;
}
.show{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}

.main {
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 110px;
    padding: 0 200px 40px 50px;
    gap:10px;
}
.main > h1{
    margin-top: 0;
    position: fixed;
    top: 60px;
    background-color:rgb(255, 255, 255);
    width: 700px;
    margin-right: 200px;
    padding: 40px 0 20px;
}
.task{
    display: flex;
    margin-top: 0;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    border: 1px solid rgb(128, 128, 128, .4);
    height: 75px;
}
.task-text{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
}
.task-text div p{
    margin-top: 0;
    margin-bottom: 14px;
    width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-text div h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
}
.task-text > p{
    margin-left: auto;
    font-size: 1.1rem;
    padding-bottom: 20px;
}
input[type="checkbox"]{
    width: 45px;
}
input[type="checkbox"]:not(:checked){
    content: url("../src/icons/unchecked.svg");
}
input[type="checkbox"]:checked{
    content: url("../src/icons/checked.svg");
    width: 45px;
}
.priority{
    display: none;
}
















